{% extends "google/blank.html" %}
{% load staticfiles %}
{% block cabecalho_conteudo %}  
{% endblock %}
{% block conteudo %}
           <div class="row">
                <div class="col-md-2 col-sm-2">
           
                </div>
                <div class="col-md-8 col-sm-8">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            Login
                        </div>
                        <div class="panel-body">
                            <p>Arquivo enviado com sucesso!</p>
                            <p>Dentro de alguns minutos você receberá email avisando o término da importação dos dados</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2">
            
                </div>
            </div>

{% endblock %}
               